*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(26, 11, 46, 1);
}

/* shared styles areas  */
.diplay-flex{
  display: flex;
}


.navbar{
  justify-content: space-between;
  align-items: center;
  margin: 24px 120px;
}
.brand{
  width: 220px;
  height: 32px;
  color: #FFFFFF;
}

.tech-wave{
 color: #FB09B4;
}

.nav-links{
  margin: 33px;
}
.nav-item{
list-style: none;

}

.nav-link{
  margin: 0 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;

   
}

.primary-btn{
  background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
  padding: 12px 40px 12px 16px;
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  color: #FFFFFF;

}

/* hero sections areas styles  */
.banner{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 110px;
}


.microphone{
  position: absolute;
  transform: translate(-50%);
  top: 15%;
}

.banner-title{
  height: 73px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 3.5rem;

}
.banner p{

  height: 19px;
  font-weight: 600px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}
.banner-content{
  margin-top: 40px;
  
}
.btn-first{
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
  padding: 12px 40px 12px 16px;
  width: 200px;
  height: 44px;
  border-radius: 10000px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
}


.button{
  margin-top: 30px;
}
.Subscribe{
  width: 147px;
  height: 44px;
   padding: 12px 40px 12px 16px;
  border-radius: 10000px;
  color: #00FF88;
  font-weight: 600;
  background-image: url(assets/hero-bg.png);
  border: 1px solid #00FF88;
}

