*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(26, 11, 46, 1);
}

/* shared styles areas  */
.diplay-flex{
  display: flex;
}


.navbar{
  justify-content: space-between;
  align-items: center;
  margin: 24px 120px;
}
.brand{
  width: 220px;
  height: 32px;
  color: #FFFFFF;
}

.tech-wave{
 color: #FB09B4;
}

.nav-links{
  margin: 33px;
}
.nav-item{
list-style: none;

}

.nav-link{
  margin: 0 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;

   
}

.primary-btn{
  background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
  padding: 12px 40px 12px 16px;
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  color: #FFFFFF;

}

/* hero sections areas styles  */
.banner{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 110px;
}


.microphone{
  position: absolute;
  transform: translate(-50%);
  top: 15%;
}

.banner-title{
  height: 73px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 3.5rem;

}
.banner p{

  height: 19px;
  font-weight: 600px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}
.banner-content{
  margin-top: 40px;
  margin-bottom: 90px;
}
.btn-first{
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
  padding: 12px 16px;
  width: 200px;
  height: 44px;
  border-radius: 10000px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
}


.button{
  margin-top: 30px;
  justify-content: center;
}
.Subscribe{
  width: 147px;
  height: 44px;
   padding: 12px 16px;
  border-radius: 10000px;
  color: #00FF88;
  font-weight: 600;
  background-image: url(assets/hero-bg.png);
  border: 1px solid #00FF88;
}

.primary-btn i{
  position: relative;
  left: 50px;
  top: -14px;
}

.badge{
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #00FF88;
  border-radius: 10000px;
  padding: 8px 16px;
  position: relative;
  top: -300px;
  left: 150px;
}


/* about sections areas  */


.about-title{
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content{
  color: #b8b4b4;
  text-align: center;
}


.count{
  color: #00FF88;
  font-weight: 700;
  font-size: 3rem;
}


.brand-container{
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 120px;
  margin-left: 200px;
  margin-right: 200px;

}
.brand-container p{
  color: #b8b4b4;
}


/* grid styles areas  */

.container>*{
  /* border: 3px solid gold; */
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  color: #FFFFFF;
  border-radius: 15px;
}

.grid-title{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3rem;
}


#sidebar{
  grid-area: sidebar;
}

main{
  grid-area: main;
}

#location{
  grid-area: location;
}
#resource{
  grid-area: nav;
}



footer{
  grid-area: footer;
}

.container{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 120px;
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "sidebar  main  main  main"
    "sidebar  location location location"
    "footer  footer  footer nav";
}
@media screen and (max-width:576px){
  .navbar, .banner,
   .button,
   .about-section,{
    flex-direction: column;
  }

  .button{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  .brand-container{
    flex-direction: column;
    margin-top: 80px;
    gap: 20px;
  }
.container{
  margin: 0px 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-areas: 
  "sidebar"
  "main"
  "location"
  "footer"
  "nav";
}
}


