*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(26, 11, 46, 1);
}

/* shared styles areas  */
.diplay-flex{
  display: flex;
}


.navbar{
  justify-content: space-between;
  align-items: center;
  margin: 24px 120px;
}

.three-dot{
  visibility: hidden;
}
.brand{
  width: 220px;
  height: 32px;
  color: #FFFFFF;
}

.tech-wave{
 color: #FB09B4;
}

.nav-links{
  margin: 33px;
}
.nav-item{
list-style: none;

}

.nav-link{
  margin: 0 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;

   
}

.primary-btn{
  background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
  padding: 12px 40px 12px 16px;
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  color: #FFFFFF;
  transition: transform 1s;
}

.primary-btn:hover{
   transform: rotate(360deg);
}

/* hero sections areas styles  */
.banner{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 110px;
}


.microphone{
  position: absolute;
  transform: translate(-50%);
  top: 15%;
}

.banner-title{
  height: 73px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 3.5rem;

}
.banner p{

  height: 19px;
  font-weight: 600px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}
.banner-content{
  margin-top: 40px;
  margin-bottom: 90px;
}
.btn-first{
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
  padding: 12px 16px;
  width: 200px;
  height: 44px;
  border-radius: 10000px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
}


.button{
  margin-top: 30px;
  justify-content: center;
}
.Subscribe{
  width: 147px;
  height: 44px;
   padding: 12px 16px;
  border-radius: 10000px;
  color: #00FF88;
  font-weight: 600;
  background-image: url(assets/hero-bg.png);
  border: 1px solid #00FF88;
}

.primary-btn i{
  position: relative;
  left: 50px;
  top: -14px;
}

.badge{
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #00FF88;
  border-radius: 10000px;
  padding: 8px 16px;
  position: relative;
  top: -300px;
  left: 150px;
  transition: transform 3s
}

.badge:hover{
  transform: rotate(360deg);
}

/* about sections areas  */


.about-title{
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content{
  color: #b8b4b4;
  text-align: center;
}


.count{
  color: #00FF88;
  font-weight: 700;
  font-size: 3rem;
}


.brand-container{
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 120px;
  margin-left: 200px;
  margin-right: 200px;

}
.brand-container p{
  color: #b8b4b4;
}


/* grid styles areas  */

.container>*{
  /* border: 3px solid gold; */
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  color: #FFFFFF;
  border-radius: 15px;
}

.grid-title{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3rem;
}


#sidebar{
  grid-area: sidebar;
}

main{
  grid-area: main;
}

#location{
  grid-area: location;
}
#resource{
  grid-area: nav;
}



footer{
  grid-area: footer;
}

.container{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 120px;
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "sidebar  main  main  main"
    "sidebar  location location location"
    "footer  footer  footer nav";
}

/* feature card styles areas  */
.card-container{
/* border: 2px solid yellow; */
background-color: rgba(53, 17, 101, 0.4);
color: #FFFFFF;
width: 300px;
height: 400px;
border-radius: 12px;
margin-bottom: 120px;

}

.feature h2{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}

.card-title{
  font-weight: 700;
  font-size: 1.20rem;
  padding: 24px 24px 0 24px;
}

.text{
color: #b8b4b4;
padding: 10px 24px;
}
.feature-card{
  justify-content: center;
  gap: 30px;
}
.icon-img{
 padding: 0 24px;
}

.time{
  position: relative;
  left: 50px;
  top: -20px;
}

/* host areas styles  */
.host-container{
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 25px;
 
}
.host-content{
 padding: 48px 40px 48px 50px;
}

.host-container img{
  padding: 40px 0 40px 40px;
}
.host-title{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding-top: 48px;
}

.host-content h4{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2rem;
}

.host-content p{
  color: #b8b4b4;
  margin-top: 16px;
}

.item{
  list-style: none;
  position: relative;
  left: -40px;
}

/* footer styles areas  */

.footer-section{
   width: 1600px;
   background-image: url(./assets/footer-bg.png);
   background-position: center;
   background-size: contain;
   padding: 100px 0;
   justify-content: center;
   margin-top: 120px;
   margin-bottom: 120px;
}

.foot-title{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 180px;
}
.footer-icons{
  gap: 50px;
  width: 1360px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  margin-left: 140px;
 
}
.item p{
  color: #b8b4b4;
  position: relative;
  left: 20px
}

.footer-section .copy{
  color: #b8b4b4;
  text-align: center;
}



@media screen and (max-width:576px){
  .navbar, .banner,
   .button,
   .about-section, 
   .feature-card{
    flex-direction: column;
  }
   
  .navbar .nav-links, .primary-btn{
  visibility: hidden;
  }
.navbar .three-dot{
    visibility: visible;
    position: relative;
    left: 200px;
    bottom: 147px;
  
  }
  .card-container{
    margin-left: 70px;
    margin-bottom: 20px;
  }
  .button{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  .brand-container{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
    margin-left: 80px;
    gap: 20px;
  }
.container{
  margin: 0px 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-areas: 
  "sidebar"
  "main"
  "location"
  "footer"
  "nav";
} 
.host-container{
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
}
 .footer-section{
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;


  
 }
.footer-container{
  flex-direction: column;
  margin: 0 auto;
}
.foot-title{
  width: 200px;
  margin-left: 150px;
}
.footer-icons{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 width: 300px;
 margin-top: 50px;
}
.copy{
  width: 300px;
  margin-left: 85px;
}
}

